@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q7__box.is-float {
  float: left;
  width: 205px;
  margin-left: 50px;
}

.q7__box.is-float:first-child {
  margin-left: 0;
}

.q7__inner.is-table {
  display: table;
  table-layout: fixed;
  width: 500px;
}

.q7__box.is-table {
  display: table-cell;
  width: 225px;
  vertical-align: middle;
}



/* 回答はここに書いてね */
